<h1 class="">I'm <span class="highlight">Mariano</span> Perez</h1>
<h3>{{ title }}</h3>
<p>
    {{ description }}
</p>
<div class="d-flex justify-content-center justify-content-md-start">
    <a class="btn" href="https://facebook.com"
        ><i class="fa-brands fa-facebook fa-xl"></i
    ></a>
    <a class="btn" href="https://instagram.com"
        ><i class="fa-brands fa-instagram fa-xl"></i
    ></a>
    <a class="btn" href="https://twitter.com"
        ><i class="fa-brands fa-twitter fa-xl"></i
    ></a>
    <a class="btn" href="https://github.com"
        ><i class="fa-brands fa-github fa-xl"></i
    ></a>
</div>
