<div class="m-5 container-lg mx-auto vh-100">
    <div class="d-flex align-items-center flex-column">
        <h1>Iniciar Sesión</h1>
        <div class="separator"></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mx-lg-5 px-lg-5">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input
                class="form-control"
                type="text"
                id="username"
                formControlName="username"
            />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
                class="form-control"
                type="password"
                id="password"
                formControlName="password"
            />
        </div>
        <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)" class="alert alert-danger mt-2">
            Se requiere un usuario y contraseña.
        </div>
        <div
            *ngIf="wrongCredentials"
            class="alert alert-danger mt-2"
        >
            Usuario o contraseña equivocada.
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Enviar</button>
    </form>
</div>
