<!-- ====== ABOUT ====== -->
<div class="container-lg mb-4 p-4" id="about">
    <div class="row align-items-center justify-content-evenly">
        <div class="col-md text-center order-2 order-md-1">
            <img
                src="../../assets/img/banner-image.png"
                alt="about picture"
                width="70%"
            />
        </div>
        <div class="col-md mb-4 order-1 order-md-2">
            <!-- == EDIT == -->
            <app-edit-button *ngIf="isLoggedIn() | async" (click)="toggleEditing()"></app-edit-button>

            <app-about-content [description]="paragraphs" [hidden]="editing"></app-about-content>

            <app-about-form
                [description]="description"
                [editing]="editing"
                (stopEditing)="toggleEditing()"
                (updateEvent)="updateAbout($event)"
                [hidden]="!editing"
            ></app-about-form>

        </div>
    </div>
</div>
<!-- ====== END ABOUT ====== -->
