<div class="">
    <form [formGroup]="educationForm">
        <div class="d-flex flex-column align-items-center">
            <h1>Edición - Educación</h1>
            <div class="separator"></div>
        </div>

        <span formArrayName="education">
            <div
                class="mb-4"
                *ngFor="let ed of educationFormArray.controls; let i = index"
                [formGroupName]="i"
            >
                <div class="mb-2 d-flex">
                    <label class="col-form-label me-4" for="id">ID</label>
                    <input
                        class="form-control-plaintext"
                        readonly
                        type="text"
                        id="id"
                        #id
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="title">Título</label>
                    <input
                        class="form-control"
                        type="text"
                        id="title"
                        formControlName="title"
                        required
                    />
                    <!-- TITLE VALIDATORS -->
                    <div
                        *ngIf="
                            getGroupTitle(ed)?.invalid &&
                            (getGroupTitle(ed)?.dirty ||
                                getGroupTitle(ed)?.touched)
                        "
                        class="alert alert-danger mt-2"
                    >
                        <div *ngIf="getGroupTitle(ed)!.errors?.['required']">
                            Un título es requerido.
                        </div>
                        <div *ngIf="getGroupTitle(ed)!.errors?.['maxlength']">
                            El título es demasiado largo.
                        </div>
                    </div>
                    <!-- END TITLE VALIDATORS -->
                </div>
                <div class="mb-2">
                    <label class="form-label" for="period">Periodo</label>
                    <input
                        class="form-control"
                        type="text"
                        id="period"
                        formControlName="period"
                        required
                    />
                    <!-- PERIOD VALIDATORS -->
                    <div
                        *ngIf="
                            getGroupPeriod(ed)?.invalid &&
                            (getGroupPeriod(ed)?.dirty ||
                                getGroupPeriod(ed)?.touched)
                        "
                        class="alert alert-danger mt-2"
                    >
                        <div *ngIf="getGroupPeriod(ed)!.errors?.['required']">
                            Un periodo es requerido.
                        </div>
                        <div *ngIf="getGroupPeriod(ed)!.errors?.['maxlength']">
                            El periodo es demasiado largo.
                        </div>
                    </div>
                    <!-- END PERIOD VALIDATORS -->
                </div>
                <div class="mb-2">
                    <label class="form-label" for="institution"
                        >Institución</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        id="institution"
                        formControlName="institution"
                        required
                    />
                    <!-- INSTITUTION VALIDATORS -->
                    <div
                        *ngIf="
                            getGroupInstitution(ed)?.invalid &&
                            (getGroupInstitution(ed)?.dirty ||
                                getGroupInstitution(ed)?.touched)
                        "
                        class="alert alert-danger mt-2"
                    >
                        <div
                            *ngIf="getGroupInstitution(ed)!.errors?.['required']"
                        >
                            Una institución es requerida.
                        </div>
                        <div
                            *ngIf="getGroupInstitution(ed)!.errors?.['maxlength']"
                        >
                            El nombre de la institución es demasiado largo.
                        </div>
                    </div>
                    <!-- END INSTITUTION VALIDATORS -->
                </div>
                <div class="mb-2">
                    <label class="form-label" for="location">Ubicación</label>
                    <input
                        class="form-control"
                        type="text"
                        id="location"
                        formControlName="location"
                        required
                    />
                    <!-- LOCATION VALIDATORS -->
                    <div
                        *ngIf="
                            getGroupLocation(ed)?.invalid &&
                            (getGroupLocation(ed)?.dirty ||
                                getGroupLocation(ed)?.touched)
                        "
                        class="alert alert-danger mt-2"
                    >
                        <div *ngIf="getGroupLocation(ed)!.errors?.['required']">
                            Una localidad es requerida.
                        </div>
                        <div
                            *ngIf="getGroupLocation(ed)!.errors?.['maxlength']"
                        >
                            El nombre de la localidad es demasiado largo.
                        </div>
                    </div>
                    <!-- END LOCATION VALIDATORS -->
                </div>
                <div class="mb-2">
                    <label class="form-label" for="description"
                        >Descripción</label
                    >
                    <textarea
                        class="form-control"
                        rows="3"
                        id="description"
                        formControlName="description"
                        required
                    ></textarea>
                    <!-- DESCRIPTION VALIDATORS -->
                    <div
                        *ngIf="
                            getGroupDescription(ed)?.invalid &&
                            (getGroupDescription(ed)?.dirty ||
                                getGroupDescription(ed)?.touched)
                        "
                        class="alert alert-danger mt-2"
                    >
                        <div
                            *ngIf="getGroupDescription(ed)!.errors?.['required']"
                        >
                            Una descripción es requerida.
                        </div>
                    </div>
                    <!-- END DESCRIPTION VALIDATORS -->
                </div>
                <button
                    class="btn red"
                    type="button"
                    (click)="onEducationDelete(ed, i)"
                >
                    <i class="fa-solid fa-trash"></i>
                </button>
                <button
                    class="btn"
                    type="button"
                    (click)="onEducationUpdate(ed)"
                    [disabled]="ed.invalid"
                >
                    <i class="fa-solid fa-floppy-disk"></i>
                </button>
                <hr />
            </div>
        </span>
    </form>
</div>

<div class="mb-3">
    <form [formGroup]="newEducationForm">
        <div [hidden]="!this.showNewForm">
            <h3 class="text-center">
                Nueva entrada de <span class="highlight">educación</span>
            </h3>

            <div class="mb-2">
                <label class="form-label" for="title">Título</label>
                <input
                    class="form-control"
                    type="text"
                    id="title"
                    formControlName="title"
                    required
                />
                <!-- TITLE VALIDATORS -->
                <div
                    *ngIf="
                        newTitle?.invalid &&
                        (newTitle?.dirty || newTitle?.touched)
                    "
                    class="alert alert-danger mt-2"
                >
                    <div *ngIf="newTitle!.errors?.['required']">
                        Un título es requerido.
                    </div>
                    <div *ngIf="newTitle!.errors?.['maxlength']">
                        El título es demasiado largo.
                    </div>
                </div>
                <!-- END TITLE VALIDATORS -->
            </div>
            <div class="mb-2">
                <label class="form-label" for="period">Periodo</label>
                <input
                    class="form-control"
                    type="text"
                    id="period"
                    formControlName="period"
                    required
                />
                <!-- PERIOD VALIDATORS -->
                <div
                    *ngIf="
                        newPeriod?.invalid &&
                        (newPeriod?.dirty || newPeriod?.touched)
                    "
                    class="alert alert-danger mt-2"
                >
                    <div *ngIf="newPeriod!.errors?.['required']">
                        Un periodo es requerido.
                    </div>
                    <div *ngIf="newPeriod!.errors?.['maxlength']">
                        El periodo es demasiado largo.
                    </div>
                </div>
                <!-- END PERIOD VALIDATORS -->
            </div>
            <div class="mb-2">
                <label class="form-label" for="institution">Institución</label>
                <input
                    class="form-control"
                    type="text"
                    id="institution"
                    formControlName="institution"
                    required
                />
                <!-- INSTITUTION VALIDATORS -->
                <div
                    *ngIf="
                        newInstitution?.invalid &&
                        (newInstitution?.dirty || newInstitution?.touched)
                    "
                    class="alert alert-danger mt-2"
                >
                    <div *ngIf="newInstitution!.errors?.['required']">
                        Una institución es requerida.
                    </div>
                    <div *ngIf="newInstitution!.errors?.['maxlength']">
                        El nombre de la institución es demasiado largo.
                    </div>
                </div>
                <!-- END INSTITUTION VALIDATORS -->
            </div>
            <div class="mb-2">
                <label class="form-label" for="location">Ubicación</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    formControlName="location"
                    required
                />
                <!-- LOCATION VALIDATORS -->
                <div
                    *ngIf="
                        newLocation?.invalid &&
                        (newLocation?.dirty || newLocation?.touched)
                    "
                    class="alert alert-danger mt-2"
                >
                    <div *ngIf="newLocation!.errors?.['required']">
                        Una localidad es requerida.
                    </div>
                    <div *ngIf="newLocation!.errors?.['maxlength']">
                        El nombre de la localidad es demasiado largo.
                    </div>
                </div>
                <!-- END LOCATION VALIDATORS -->
            </div>
            <div class="mb-2">
                <label class="form-label" for="description">Descripción</label>
                <textarea
                    class="form-control"
                    rows="3"
                    id="description"
                    formControlName="description"
                    required
                ></textarea>
                <!-- DESCRIPTION VALIDATORS -->
                <div
                    *ngIf="
                        newDescription?.invalid &&
                        (newDescription?.dirty || newDescription?.touched)
                    "
                    class="alert alert-danger mt-2"
                >
                    <div *ngIf="newDescription!.errors?.['required']">
                        Una descripción es requerida.
                    </div>
                </div>
                <!-- END DESCRIPTION VALIDATORS -->
            </div>
        </div>
        <!-- BUTTONS -->
        <div class="d-flex justify-content-center">
            <button
                type="button"
                class="btn green"
                (click)="toggleNewForm()"
                [hidden]="this.showNewForm"
            >
                <i class="fa-solid fa-circle-plus fa-xl"></i>
            </button>
            <button
                type="button"
                class="btn"
                (click)="toggleNewForm()"
                [hidden]="!this.showNewForm"
            >
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <button
                type="button"
                class="btn"
                (click)="onEducationSave(newEducationForm)"
                [hidden]="!this.showNewForm"
                [disabled]="newEducationForm.invalid"
            >
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </div>
    </form>
</div>
