<footer>
    <div
        class="container-fluid justify-content-center p-4"
        style="background-color: #9b9b9b"
    >
        <div
            class="d-flex flex-column align-items-center justify-content-center"
        >
            <h3>Mariano Perez</h3>
            <!-- SOCIALS -->
            <app-socials></app-socials>
            <!-- EMAIL -->
            <a class="email" href="mailto:perezm7401@gmail.com"
                >perezm7401@gmail.com</a
            >
        </div>
    </div>
</footer>
