<div class="container-lg mb-4 p-4" style="background-color: #f6f6f8">
    <div class="d-flex flex-column align-items-center">
        <h1>Home</h1>
        <div class="separator"></div>
    </div>
    <form [formGroup]="homeForm">
        <app-edit-button
            *ngIf="!editing"
            (click)="toggleEditing()"
        ></app-edit-button>
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
                class="form-control"
                type="text"
                id="title"
                formControlName="title"
            />
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea
                class="form-control"
                rows="3"
                id="description"
                formControlName="description"
            ></textarea>
        </div>
        <div *ngIf="editing">
            <button
                type="button"
                class="btn red"
                (click)="cancelChanges()"
                title="Cancel"
            >
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <button
                type="button"
                class="btn"
                (click)="onHomeUpdate()"
                title="Save changes"
            >
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </div>
    </form>
</div>
