<div class="container-lg mb-4 p-4" style="background-color: #f6f6f8">
    <div class="mb-3">
        <div class="d-flex flex-column align-items-center">
            <h1>Edición - Mis Proyectos</h1>
            <div class="separator"></div>
        </div>

        <form [formGroup]="projectsForm">
            <div class="row justify-content-center" formArrayName="projects">
                <div
                    class="col-lg-4 col-md-6 mb-4"
                    *ngFor="
                        let proj of this.projectFormArray.controls;
                        let i = index
                    "
                    [formGroupName]="i"
                >
                    <div class="mb-2 d-flex">
                        <label class="col-form-label me-4" for="id">ID</label>
                        <input
                            class="form-control-plaintext"
                            readonly
                            type="text"
                            id="id"
                            formControlName="id"
                            #id
                        />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="title">Título</label>
                        <input
                            class="form-control"
                            type="text"
                            id="title"
                            formControlName="title"
                            required
                        />
                        <!-- TITLE VALIDATORS -->
                        <div
                            *ngIf="
                                getGroupTitle(proj)?.invalid &&
                                (getGroupTitle(proj)?.dirty ||
                                    getGroupTitle(proj)?.touched)
                            "
                            class="alert alert-danger mt-2"
                        >
                            <div
                                *ngIf="getGroupTitle(proj)!.errors?.['required']"
                            >
                                Un título es requerido.
                            </div>
                            <div
                                *ngIf="getGroupTitle(proj)!.errors?.['maxlength']"
                            >
                                El título es demasiado largo.
                            </div>
                        </div>
                        <!-- END TITLE VALIDATORS -->
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="description"
                            >Descripción</label
                        >
                        <textarea
                            class="form-control"
                            rows="3"
                            id="description"
                            formControlName="description"
                            required
                        ></textarea>
                        <!-- DESCRIPTION VALIDATORS -->
                        <div
                            *ngIf="
                                getGroupDescription(proj)?.invalid &&
                                (getGroupDescription(proj)?.dirty ||
                                    getGroupDescription(proj)?.touched)
                            "
                            class="alert alert-danger mt-2"
                        >
                            <div
                                *ngIf="getGroupDescription(proj)!.errors?.['required']"
                            >
                                Una descripción es requerida.
                            </div>
                            <div
                                *ngIf="getGroupDescription(proj)!.errors?.['maxlength']"
                            >
                                La descripción es demasiado larga.
                            </div>
                        </div>
                        <!-- END DESCRIPTION VALIDATORS -->
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="url">URL</label>
                        <input
                            class="form-control"
                            type="text"
                            id="url"
                            formControlName="url"
                            required
                        />
                        <!-- URL VALIDATORS -->
                        <div
                            *ngIf="
                                getGroupUrl(proj)?.invalid &&
                                (getGroupUrl(proj)?.dirty ||
                                    getGroupUrl(proj)?.touched)
                            "
                            class="alert alert-danger mt-2"
                        >
                            <div
                                *ngIf="getGroupUrl(proj)!.errors?.['required']"
                            >
                                Un URL es requerido.
                            </div>
                            <div
                                *ngIf="getGroupUrl(proj)!.errors?.['maxlength']"
                            >
                                El URL es demasiado largo.
                            </div>
                        </div>
                        <!-- END URL VALIDATORS -->
                    </div>
                    <div>
                        <button
                            type="button"
                            class="btn red"
                            type="button"
                            (click)="this.onProjectDelete(proj, i)"
                        >
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button
                            type="button"
                            class="btn"
                            (click)="this.onProjectUpdate(proj)"
                            [disabled]="proj.invalid"
                        >
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <form [formGroup]="newProjectForm">
                <div [hidden]="!this.showNewForm">
                    <h3 class="text-center">
                        Nuevo entrada de <span class="highlight">proyecto</span>
                    </h3>

                    <div class="mb-2">
                        <label class="form-label" for="title">Título</label>
                        <input
                            class="form-control"
                            type="text"
                            id="title"
                            formControlName="title"
                        />
                        <!-- TITLE VALIDATORS -->
                        <div
                            *ngIf="
                                newTitle?.invalid &&
                                (newTitle?.dirty || newTitle?.touched)
                            "
                            class="alert alert-danger mt-2"
                        >
                            <div *ngIf="newTitle!.errors?.['required']">
                                Un título es requerido.
                            </div>
                            <div *ngIf="newTitle!.errors?.['maxlength']">
                                El título es demasiado largo.
                            </div>
                        </div>
                        <!-- END TITLE VALIDATORS -->
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="description"
                            >Descripción</label
                        >
                        <textarea
                            class="form-control"
                            type="text"
                            id="description"
                            formControlName="description"
                        ></textarea>
                        <!-- DESCRIPTION VALIDATORS -->
                        <div
                            *ngIf="
                                newDescription?.invalid &&
                                (newDescription?.dirty ||
                                    newDescription?.touched)
                            "
                            class="alert alert-danger mt-2"
                        >
                            <div *ngIf="newDescription!.errors?.['required']">
                                Una descripción es requerida.
                            </div>
                            <div *ngIf="newDescription!.errors?.['maxlength']">
                                La descripción es demasiado larga.
                            </div>
                        </div>
                        <!-- END DESCRIPTION VALIDATORS -->
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="url">URL</label>
                        <input
                            class="form-control"
                            type="text"
                            id="url"
                            formControlName="url"
                        />
                        <!-- URL VALIDATORS -->
                        <div
                            *ngIf="
                                newUrl?.invalid &&
                                (newUrl?.dirty || newUrl?.touched)
                            "
                            class="alert alert-danger mt-2"
                        >
                            <div *ngIf="newUrl!.errors?.['required']">
                                Un URL es requerido.
                            </div>
                            <div *ngIf="newUrl!.errors?.['maxlength']">
                                El URL es demasiado largo.
                            </div>
                        </div>
                        <!-- END URL VALIDATORS -->
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button
                        type="button"
                        class="btn green"
                        (click)="toggleNewForm()"
                        [hidden]="this.showNewForm"
                    >
                        <i class="fa-solid fa-circle-plus fa-xl"></i>
                    </button>
                    <button
                        type="button"
                        class="btn"
                        (click)="toggleNewForm()"
                        [hidden]="!this.showNewForm"
                    >
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                    <button
                        type="button"
                        class="btn"
                        (click)="onProjectSave(newProjectForm)"
                        [hidden]="!this.showNewForm"
                        [disabled]="newProjectForm.invalid"
                    >
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
