<form [formGroup]="this.portfolioForm">
    <!-- == HOME == -->
    <div formGroupName="home">
        <label for="title">Title: </label> <br>
        <input type="text" id="title" formControlName="title">
        <br>
        <label for="description">Description: </label> <br>
        <input type="text" id="description" formControlName="description">
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <!-- == HARD-SKILLS == -->
            <span formArrayName="hardSkills">
                <div
                    *ngFor="let skill of this.hardSkills.controls; let i = index"
                    [formGroupName]="i"
                >
                    <label for="title">Title: </label> <br>
                    <input type="text" id="title" formControlName="title">
                    <br>
                    <label for="value">Value: </label> <br>
                    <input type="number" id="value" formControlName="value">
                    <br>
                    <button
                        class="btn btn-danger"
                        type="button"
                        (click)="this.onDelete(skill.get('id')?.value, i, skill.get('softSkill')?.value)"
                    >
                        Delete
                    </button>
                    <button
                        class="btn btn-primary"
                        (click)="this.onUpdate(i, skill)"
                    >
                        Update
                    </button>
                    <hr>
                </div>
            </span>
            <div>
                <form [formGroup]="addSkillForm" [hidden]="!showAddSkillForm">
                    <label for="title">Title: </label> <br>
                    <input type="text" id="title" formControlName="title">
                    <br>
                    <label for="value">Value: </label> <br>
                    <input type="number" id="value" formControlName="value">
                    <br>
                    <label for="softSkill">Soft Skill?: </label>
                    <input type="checkbox" id="softSkill" formControlName="softSkill">
                    <br>
                </form>
                <div *ngIf="!showAddSkillForm; else noshow">
                    <button
                        class="btn btn-success"
                        (click)="showAddSkillForm = !showAddSkillForm"
                    >
                        Add+
                    </button>
                </div>
                <ng-template #noshow>
                    <button
                        class="btn btn-success"
                        (click)="showAddSkillForm = !showAddSkillForm"
                    >
                        Save
                    </button>
                </ng-template>
            </div>
        </div>
        <div class="col-6">
            <!-- == SOFT-SKILLS == -->
            <span formArrayName="softSkills">
                <div
                    *ngFor="let skill of this.softSkills.controls; let i = index"
                    [formGroupName]="i"
                >
                    <label for="title">Title: </label> <br>
                    <input type="text" id="title" formControlName="title">
                    <br>
                    <label for="value">Value: </label> <br>
                    <input type="number" id="value" formControlName="value">
                    <br>
                    <button
                        class="btn btn-danger"
                        type="button"
                        (click)="this.onDelete(skill.get('id')?.value, i, skill.get('softSkill')?.value)"
                    >
                        Delete
                    </button>
                    <button
                        class="btn btn-primary"
                        (click)="this.onUpdate(i, skill)"
                    >
                        Update
                    </button>
                <hr>
                </div>
            </span>
        </div>
    </div>

</form>

{{this.portfolio.home_title}} <br>
{{this.portfolio.home_description}} <br>
{{this.portfolio.home_description}} <br>
{{this.portfolio.hardSkills}} <br>
<!-- {{this.portfolio.softSkills}} <br> -->
{{this.portfolio.educations}} <br>
{{this.portfolio.projects}}
