<form [formGroup]="this.portfolioForm">
    <!-- === HOME === -->
    <div formGroupName="home">
        <label for="title">Title: </label> <br>
        <input type="text" id="title" formControlName="title">
        <br>
        <label for="description">Description: </label> <br>
        <input type="text" id="description" formControlName="description">
        <br>
        <button
            type="button"
            class="btn btn-primary"
            (click)="this.onHomeUpdate()"
        >
            Update
        </button>
    </div>
    <hr>
    <!-- === ABOUT === -->
    <div formGroupName="about">
        <label for="description">Description: </label> <br>
        <input type="text" id="description" formControlName="description">
        <br>
        <button
            type="button"
            class="btn btn-primary"
            (click)="this.onAboutUpdate()"
        >
            Update
        </button>
    </div>
    <hr>
    <!-- === SKILLS ===  -->
    <div class="row">
        <div class="col-6">
            <!-- == HARD-SKILLS == -->
            <span formArrayName="hardSkills">
                <div
                    *ngFor="let skill of this.hardSkillsForm.controls; let i = index"
                    [formGroupName]="i"
                >
                    ID: <strong>{{skill.get('id')?.value}}</strong>
                    <br>
                    <label for="title">Title: </label> <br>
                    <input type="text" id="title" formControlName="title">
                    <br>
                    <label for="value">Value: </label> <br>
                    <input type="number" id="value" formControlName="value">
                    <br>
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="this.onSkillsDelete(skill, i)"
                    >
                        Delete
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="this.onSkillsUpdate(skill, i)"
                    >
                        Update
                    </button>
                    <hr>
                </div>
            </span>
        </div>
        <div class="col-6">
            <!-- == SOFT-SKILLS == -->
            <span formArrayName="softSkills">
                <div
                    *ngFor="let skill of this.softSkillsForm.controls; let i = index"
                    [formGroupName]="i"
                >
                    ID: <strong>{{skill.get('id')?.value}}</strong>
                    <br>
                    <label for="title">Title: </label> <br>
                    <input type="text" id="title" formControlName="title">
                    <br>
                    <label for="value">Value: </label> <br>
                    <input type="number" id="value" formControlName="value">
                    <br>
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="this.onSkillsDelete(skill, i)"
                    >
                        Delete
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="this.onSkillsUpdate(skill, i)"
                    >
                        Update
                    </button>
                <hr>
                </div>
            </span>
        </div>
        <div>
            <form [formGroup]="addSkillForm" [hidden]="!showAddSkillForm">
                <label for="title">Title: </label> <br>
                <input type="text" id="title" formControlName="title">
                <br>
                <label for="value">Value: </label> <br>
                <input type="number" id="value" formControlName="value">
                <br>
                <label for="softSkill">Soft Skill?: </label>
                <input type="checkbox" id="softSkill" formControlName="softSkill">
                <br>
            </form>
            <div *ngIf="!showAddSkillForm; else showAddSkill">
                <button
                    type="button"
                    class="btn btn-success"
                    (click)="showAddSkillForm = !showAddSkillForm"
                >
                    Add+
                </button>
            </div>
            <ng-template #showAddSkill>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="showAddSkillForm = !showAddSkillForm"
                >
                    Cancel
                </button>
                <button
                    type="button"
                    class="btn btn-success"
                    (click)="onSkillsSave()"
                >
                    Save
                </button>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>education</h3>
            <!-- === EDUCATION === -->
            <span formArrayName="education">
                <div
                *ngFor="let ed of this.educationForm.controls; let i = index"
                    [formGroupName]="i"
                >
                    ID: <strong>{{ed.get('id')?.value}}</strong>
                    <br>
                    <label for="title">Title: </label> <br>
                    <input type="text" id="title" formControlName="title">
                    <br>
                    <label for="period">Period: </label> <br>
                    <input type="text" id="period" formControlName="period">
                    <br>
                    <label for="institution">Institution: </label> <br>
                    <input type="text" id="institution" formControlName="institution">
                    <br>
                    <label for="location">Location: </label> <br>
                    <input type="text" id="location" formControlName="location">
                    <br>
                    <label for="description">Description: </label> <br>
                    <input type="text" id="description" formControlName="description">
                    <br>
                    <button
                        type="button"
                        class="btn btn-danger"
                        type="button"
                        (click)="this.onEducationDelete(ed, i)"
                    >
                        Delete
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="this.onEducationUpdate(ed, i)"
                    >
                        Update
                    </button>
                    <hr>
                </div>
            </span>
        </div>
        <div class="col">
            <h3>EXPERIENCE</h3>
            <!-- === EXPERIENCE === -->
            <span formArrayName="experience">
                <div
                    *ngFor="let exp of this.experienceForm.controls; let i = index"
                    [formGroupName]="i"
                >
                    ID: <strong>{{exp.get('id')?.value}}</strong>
                    <br>
                    <label for="title">Title: </label> <br>
                    <input type="text" id="title" formControlName="title">
                    <br>
                    <label for="period">Period: </label> <br>
                    <input type="text" id="period" formControlName="period">
                    <br>
                    <label for="institution">Institution: </label> <br>
                    <input type="text" id="institution" formControlName="institution">
                    <br>
                    <label for="location">Location: </label> <br>
                    <input type="text" id="location" formControlName="location">
                    <br>
                    <label for="description">Description: </label> <br>
                    <input type="text" id="description" formControlName="description">
                    <br>
                    <button
                        type="button"
                        class="btn btn-danger"
                        type="button"
                        (click)="this.onExperienceDelete(exp, i)"
                    >
                        Delete
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="this.onExperienceUpdate(exp, i)"
                    >
                        Update
                    </button>
                    <hr>
                </div>
            </span>
        </div>
    </div>
    <form [formGroup]="addEdExpForm">
        <div [hidden]="!showAddEdExpForm">
            <label for="title">Title: </label> <br>
            <input type="text" id="title" formControlName="title">
            <br>
            <label for="period">Period: </label> <br>
            <input type="text" id="period" formControlName="period">
            <br>
            <label for="institution">Institution: </label> <br>
            <input type="text" id="institution" formControlName="institution">
            <br>
            <label for="location">Location: </label> <br>
            <input type="text" id="location" formControlName="location">
            <br>
            <label for="description">Description: </label> <br>
            <input type="text" id="description" formControlName="description">
            <br>
            <label for="isExperience">Experience?: </label>
            <input type="checkbox" id="isExperience" formControlName="isExperience">

        </div>
        <div *ngIf="showAddEdExpForm; else showAddProj">
            <button
                type="button"
                class="btn btn-danger"
                (click)="showAddEdExpForm = !showAddEdExpForm"
            >
                Cancel
            </button>
            <button
                type="button"
                class="btn btn-success"
                (click)="onEducationExperienceSave()"
            >
                Save
            </button>
        </div>
        <ng-template #showAddProj>
            <button
                type="button"
                class="btn btn-success"
                (click)="showAddEdExpForm = !showAddEdExpForm"
            >
                Add+
            </button>
        </ng-template>
    </form>

    <!-- === EXPERIENCE === -->
    <div>
        <span formArrayName="projects" class="d-flex">
            <div
                *ngFor="let proj of this.projectsForm.controls; let i = index"
                [formGroupName]="i"
                class="px-4"
            >
                ID:
                <strong>{{proj.get('id')?.value}}</strong>
                <br>
                <label for="title">Title: </label> <br>
                <input type="text" id="title" formControlName="title">
                <br>
                <label for="description">Description: </label> <br>
                <input type="text" id="description" formControlName="description">
                <br>
                <label for="url">URL: </label> <br>
                <input type="text" id="url" formControlName="url">
                <br>
                <button
                    type="button"
                    class="btn btn-danger"
                    type="button"
                    (click)="this.onProjectDelete(proj, i)"
                >
                    Delete
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="this.onProjectUpdate(proj, i)"
                >
                    Update
                </button>
                <!-- <hr> -->
            </div>
        </span>
    </div>
    <form [formGroup]="addProjectForm">
        <div [hidden]="!showAddProjectForm">
            <label for="title">Title: </label> <br>
            <input type="text" id="title" formControlName="title">
            <br>
            <label for="description">Description: </label> <br>
            <input type="text" id="description" formControlName="description">
            <br>
            <label for="url">URL: </label> <br>
            <input type="text" id="url" formControlName="url">
        </div>
        <div>
            <div *ngIf="showAddProjectForm; else showAddBtn">
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="toggleAddProjectForm()"
                >
                    Cancel
                </button>
                <button
                    type="button"
                    class="btn btn-success"
                    (click)="onProjectSave()"
                >
                    Save
                </button>
            </div>
            <ng-template #showAddBtn>
                <button
                    type="button"
                    class="btn btn-success"
                    (click)="showAddProjectForm = !showAddProjectForm"
                >
                    Add+
                </button>
            </ng-template>
        </div>
    </form>
</form>

<!-- {{this.portfolioDto.home_title}} <br>
{{this.portfolioDto.home_description}} <br>
{{this.portfolioDto.home_description}} <br>
{{this.portfolioDto.hardSkills}} <br>
{{this.portfolioDto.softSkills}} <br>
{{this.portfolioDto.educations}} <br>
{{this.portfolioDto.projects}} -->
