<!-- ====== HOME ====== -->

<div
    class="container-lg mb-4 px-4 pt-4 pb-5"
    id="home"
    style="background-color: #f6f6f8"
>
    <!-- == EDIT ==  -->
    <div class="row align-items-center justify-content-center">
        <div class="col-md mb-4 order-1 order-md-1 mt-4 mt-md-0">
            <app-edit-button
                *ngIf="isLoggedIn()"
                (click)="toggleEditing()"
                [hidden]="editing"
            ></app-edit-button>
            <app-home-content
                [title]="title"
                [description]="description"
                [hidden]="editing"
            ></app-home-content>
            <app-home-form
                [title]="title"
                [description]="description"
                (updateEvent)="updateHome($event)"
                [editing]="editing"
                (stopEditing)="toggleEditing()"
                [hidden]="!editing"
            ></app-home-form>
        </div>
        <div class="col-md order-2 mb-5 mb-md-0">
            <!-- <div class="col-md text-center"> -->
            <!-- <div class="img-container">
                    <img [src]="profilePicPath" alt="home picture" />
                </div> -->
            <div class="w-75 mx-auto">
                <div class="img-container">
                    <img [src]="profilePicPath" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ====== END HOME ====== -->
