<!-- ====== PROJECTS ====== -->
<div
    class="container-lg p-4 mb-4"
    id="projects"
    style="background-color: #f6f6f8"
>
    <!-- == EDIT == -->
    <app-edit-button *ngIf="isLoggedIn() | async" (click)="toggleEditing()"></app-edit-button>

    <app-projects-content
        [projects]="projects"
        [hidden]="editing"
    ></app-projects-content>

    <app-projects-form
        [projects]="projects"
        [editing]="editing"
        (stopEditing)="toggleEditing()"
        (deleteEvent)="this.deleteProject($event)"
        (updateEvent)="this.updateProject($event)"
        (saveEvent)="this.saveProject($event)"
        [hidden]="!editing"
    ></app-projects-form>
    <!-- <div class="d-flex flex-column align-items-center">
        <h1 class="">Projects</h1>
        <div class="separator"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let project of this.projects">
            <app-project-card [project]="project"></app-project-card>
        </div>
    </div> -->
</div>
<!-- ====== END PROJECTS ====== -->

<!-- app-project-card model -->

<!-- <div class="col">
    <div class="card" style="color: #000; border-left: 2px solid red; background-color: #f6f6f8;">
        <img src="../../assets/img/2-original.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="color: #c60021; font-weight: 600;">CARD TITLE</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.Some quick example text to build on the card title and make up the bulk of the
                card's content.Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
    </div>
</div> -->
