<!-- ====== PROJECTS ====== -->
<div
    class="container-lg p-4 mb-4"
    id="projects"
    style="background-color: #f6f6f8"
>
    <!-- == EDIT == -->
    <app-edit-button *ngIf="isLoggedIn() | async" (click)="toggleEditing()"></app-edit-button>

    <app-projects-content
        [projects]="projects"
        [hidden]="editing"
    ></app-projects-content>

    <app-projects-form
        [projects]="projects"
        [editing]="editing"
        (stopEditing)="toggleEditing()"
        (deleteEvent)="this.deleteProject($event)"
        (updateEvent)="this.updateProject($event)"
        (saveEvent)="this.saveProject($event)"
        [hidden]="!editing"
    ></app-projects-form>
</div>
<!-- ====== END PROJECTS ====== -->
