<div class="my-4">
    <h5></h5>
    <div class="d-flex justify-content-between h-auto">
        <span class="title">{{this.title}}</span>
        <span>{{this.value}}%</span>
    </div>
    <div class="progress" [style]="this.progress_container_style">
        <div
        class="progress-bar"
        role="progressbar"
        [style]="this.progress_bar_style"
        [attr.aria-valuenow]="this.value"
        aria-valuemin="0"
        aria-valuemax="100"
        >
        </div>
    </div>
</div>

