<!-- ====== ED&EX ====== -->
<div class="container-lg p-4 mb-4">
    <div class="row">
        <div class="col-md mb-4">
            <!-- == EDIT == -->
            <app-edit-button
                *ngIf="isLoggedIn() | async"
                (click)="toggleEditingEdu()"
            ></app-edit-button>
            <!-- EDUCATION COLUMN -->
            <app-education-content
                [educations]="educations"
                [hidden]="editingEdu"
            ></app-education-content>

            <app-education-form
                [educations]="educations"
                [editing]="editingEdu"
                (stopEditing)="toggleEditingEdu()"
                (deleteEvent)="this.deleteEducation($event)"
                (updateEvent)="this.updateEducation($event)"
                (saveEvent)="this.saveEducation($event)"
                [hidden]="!editingEdu"
            ></app-education-form>
        </div>
        <div class="col-md mb-4">
            <app-edit-button
                *ngIf="isLoggedIn() | async"
                (click)="toggleEditingExp()"
            ></app-edit-button>

            <app-experience-content
                [experiences]="experiences"
                [hidden]="editingExp"
            ></app-experience-content>

            <app-experience-form
                [experiences]="experiences"
                [editing]="editingExp"
                (stopEditing)="toggleEditingExp()"
                (deleteEvent)="this.deleteExperience($event)"
                (updateEvent)="this.updateExperience($event)"
                (saveEvent)="this.saveExperience($event)"
                [hidden]="!editingExp"
            ></app-experience-form>
        </div>
    </div>
</div>
