<div class="mb-3">
    <form [formGroup]="experienceForm">
        <div class="d-flex flex-column align-items-center">
            <h1>Experience</h1>
            <div class="separator"></div>
        </div>

        <span formArrayName="experience">
            <div
                class="mb-4"
                *ngFor="let exp of experienceFormArray.controls; let i = index"
                [formGroupName]="i"
            >
                <div class="mb-2 d-flex">
                    <label class="col-form-label me-4" for="id">ID</label>
                    <input
                        class="form-control-plaintext"
                        readonly
                        type="text"
                        id="id"
                        #id
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="title">Title</label>
                    <input
                        class="form-control"
                        type="text"
                        id="title"
                        formControlName="title"
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="period">Period</label>
                    <input
                        class="form-control"
                        type="text"
                        id="period"
                        formControlName="period"
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="institution"
                        >Institution</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        id="institution"
                        formControlName="institution"
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="location">Location</label>
                    <input
                        class="form-control"
                        type="text"
                        id="location"
                        formControlName="location"
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="description"
                        >Description</label
                    >
                    <textarea
                        class="form-control"
                        rows="3"
                        id="description"
                        formControlName="description"
                        #description
                    ></textarea>
                </div>
                <button
                    class="btn btn-danger"
                    type="button"
                    (click)="onExperienceDelete(+id.value, i)"
                >
                    Delete
                </button>
                <button
                    class="btn btn-primary"
                    type="button"
                    (click)="onExperienceUpdate(exp)"
                >
                    Update
                </button>
                <hr />
            </div>
        </span>
    </form>
</div>

<div class="mb-3">
    <form [formGroup]="newExperienceForm">
        <div [hidden]="!this.showNewForm">
            <h3 class="text-center">
                New <span class="highlight">experience</span> entry
            </h3>

            <div class="mb-2">
                <label class="form-label" for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    id="title"
                    formControlName="title"
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="period">Period</label>
                <input
                    class="form-control"
                    type="text"
                    id="period"
                    formControlName="period"
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="institution">Institution</label>
                <input
                    class="form-control"
                    type="text"
                    id="institution"
                    formControlName="institution"
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    formControlName="location"
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="description">Description</label>
                <textarea
                    class="form-control"
                    rows="3"
                    id="description"
                    formControlName="description"
                ></textarea>
            </div>
        </div>
        <!-- BUTTONS -->
        <div class="d-flex justify-content-center">
            <button
                type="button"
                class="btn btn-success"
                (click)="toggleNewForm()"
                [hidden]="this.showNewForm"
            >
                Add+
            </button>
            <button
                type="button"
                class="btn btn-danger"
                (click)="toggleNewForm()"
                [hidden]="!this.showNewForm"
            >
                Cancel
            </button>
            <button
                type="button"
                class="btn btn-success"
                (click)="onExperienceSave(newExperienceForm)"
                [hidden]="!this.showNewForm"
            >
                Save
            </button>
        </div>
    </form>
</div>
