<div class="">
    <form [formGroup]="educationForm">
        <div class="d-flex flex-column align-items-center">
            <h1>Education</h1>
            <div class="separator"></div>
        </div>

        <span formArrayName="education">
            <div
                class="mb-4"
                *ngFor="let ed of educationFormArray.controls; let i = index"
                [formGroupName]="i"
            >
                <div class="mb-2 d-flex">
                    <label class="col-form-label me-4" for="id">ID</label>
                    <input
                        class="form-control-plaintext"
                        readonly
                        type="text"
                        id="id"
                        #id
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="title">Title</label>
                    <input
                        class="form-control"
                        type="text"
                        id="title"
                        formControlName="title"
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="period">Period</label>
                    <input
                        class="form-control"
                        type="text"
                        id="period"
                        formControlName="period"
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="institution"
                        >Institution</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        id="institution"
                        formControlName="institution"
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="location">Location</label>
                    <input
                        class="form-control"
                        type="text"
                        id="location"
                        formControlName="location"
                    />
                </div>
                <div class="mb-2">
                    <label class="form-label" for="description"
                        >Description</label
                    >
                    <textarea
                        class="form-control"
                        rows="3"
                        id="description"
                        formControlName="description"
                    ></textarea>
                </div>
                <button
                    class="btn red"
                    type="button"
                    (click)="onEducationDelete(+id.value, i)"
                >
                    <i class="fa-solid fa-circle-xmark"></i>
                </button>
                <button
                    class="btn"
                    type="button"
                    (click)="onEducationUpdate(ed)"
                >
                    <i class="fa-solid fa-circle-check"></i>
                </button>
                <hr />
            </div>
        </span>
    </form>
</div>

<div class="mb-3">
    <form [formGroup]="newEducationForm">
        <div [hidden]="!this.showNewForm">
            <h3 class="text-center">
                New <span class="highlight">education</span> entry
            </h3>

            <div class="mb-2">
                <label class="form-label" for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    id="title"
                    formControlName="title"
                    #title
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="period">Period</label>
                <input
                    class="form-control"
                    type="text"
                    id="period"
                    formControlName="period"
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="institution">Institution</label>
                <input
                    class="form-control"
                    type="text"
                    id="institution"
                    formControlName="institution"
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    formControlName="location"
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="description">Description</label>
                <textarea
                    class="form-control"
                    rows="3"
                    id="description"
                    formControlName="description"
                ></textarea>
            </div>
        </div>
        <!-- BUTTONS -->
        <div class="d-flex justify-content-center">
            <button
                type="button"
                class="btn green"
                (click)="toggleNewForm()"
                [hidden]="this.showNewForm"
            >
                <i class="fa-solid fa-circle-plus fa-xl"></i>
            </button>
            <button
                type="button"
                class="btn red"
                (click)="toggleNewForm()"
                [hidden]="!this.showNewForm"
            >
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <button
                type="button"
                class="btn"
                (click)="onEducationSave(newEducationForm)"
                [hidden]="!this.showNewForm"
            >
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </div>
    </form>
</div>
