<div class="container-lg mb-4 p-4" id="about">
    <form [formGroup]="aboutForm">
        <div class="d-flex flex-column align-items-center">
            <h1>Edición - Sobre Mi</h1>
            <div class="separator"></div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Descrpción</label>
            <textarea
                class="form-control"
                rows="3"
                id="description"
                formControlName="description"
                required
            ></textarea>
            <!-- DESCRIPTION VALIDATORS -->
            <div
                *ngIf="
                    aboutDescription?.invalid &&
                    (aboutDescription?.dirty || aboutDescription?.touched)
                "
                class="alert alert-danger mt-2"
            >
                <div *ngIf="aboutDescription!.errors?.['required']">
                    Una descripción es requerida.
                </div>
            </div>
            <!-- END DESCRIPTION VALIDATORS -->
        </div>

        <div>
            <button
                type="button"
                class="btn red"
                (click)="cancelChanges()"
                title="Cancel"
            >
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <button
                type="button"
                class="btn"
                (click)="onAboutUpdate()"
                title="Save changes"
                [disabled]="aboutForm.invalid"
            >
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </div>
    </form>
</div>
