<div class="container-lg mb-4 p-4" id="about">
    <form [formGroup]="aboutForm">
        <div class="d-flex flex-column align-items-center">
            <h1>Editing - About</h1>
            <div class="separator"></div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea
                class="form-control"
                rows="3"
                id="description"
                formControlName="description"
                #aboutDescription
            ></textarea>
        </div>

        <div>
            <button
                type="button"
                class="btn red"
                (click)="cancelChanges()"
                title="Cancel"
            >
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <button
                type="button"
                class="btn"
                (click)="onAboutUpdate()"
                title="Save changes"
            >
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </div>
    </form>
</div>
