<!-- ====== HOME ====== -->
<app-home [title]="portfoioDto.home_title" [description]="portfoioDto.home_description"></app-home>
<!-- ====== END HOME ====== -->

<!-- ====== ABOUT ====== -->
<app-about [description]="portfoioDto.about_description"></app-about>
<!-- ====== END ABOUT ====== -->

<!-- ====== SKILLS ====== -->
<app-skills
    [softSkills]="this.portfoioDto.softSkills"
    [hardSkills]="this.portfoioDto.hardSkills"
>
</app-skills>
<!-- ====== END SKILLS ====== -->

<!-- ====== ED&EX ====== -->
<app-education-experience [educations]="this.portfoioDto.educations" ></app-education-experience>
<!-- ====== END ED&EX ====== -->

<!-- ====== PROJECTS ====== -->
<app-projects [projects]="this.portfoioDto.projects"></app-projects>
<!-- ====== END PROJECTS ====== -->
