<h4>{{this.title}}</h4>
<h5>{{this.period}}</h5>
<p>
    <em>
        {{this.company}}
        <br>
        {{this.location}}
    </em>
</p>
<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul>

<!--
<div class="resume-item">
    <h4>Senior graphic design specialist</h4>
    <h5>2019 - Present</h5>
    <p><em>Experion, New York, NY </em></p>
    <ul>
        <li>Lead in the design, development, and implementation of the graphic, layout, and production
            communication materials</li>
        <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the
            project. </li>
        <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the
            design</li>
        <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
    </ul>
</div> -->
