<!-- <form>
    <div class="mb-3">
        <label class="form-label" for="id">ID</label>
        <input class="form-control" type="text" id="id" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" title="title" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="value">Value</label>
        <input class="form-control" type="text" value="value" />
    </div>
</form> -->

<div class="container-lg mb-4 p-4" style="background-color: #f6f6f8">
    <div class="mb-3">
        <form [formGroup]="skillsForm">
            <div class="row">
                <div class="col-md">
                    <!-- == HARD-SKILLS == -->
                    <div class="d-flex flex-column align-items-center">
                        <h1>Hard skills</h1>
                        <div class="separator"></div>
                    </div>
                    <span formArrayName="hardSkills">
                        <div
                            class="mb-3"
                            *ngFor="
                                let skill of this.hardSkillsForm.controls;
                                let i = index
                            "
                            [formGroupName]="i"
                        >
                            <div class="mb-2 d-flex">
                                <label class="col-form-label me-4" for="id"
                                    >ID</label
                                >
                                <input
                                    class="form-control-plaintext"
                                    readonly
                                    type="text"
                                    id="id"
                                    formControlName="id"
                                    #id
                                />
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="title"
                                    >Title</label
                                >
                                <input
                                    class="form-control"
                                    type="text"
                                    id="title"
                                    formControlName="title"
                                    #title
                                />
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="value"
                                    >Value</label
                                >
                                <input
                                    class="form-control"
                                    type="text"
                                    id="value"
                                    formControlName="value"
                                    #value
                                />
                            </div>

                            <button
                                class="btn red"
                                type="button"
                                (click)="
                                    onSkillDelete(+id.value, soft.checked, i)
                                "
                            >
                                <i class="fa-solid fa-circle-xmark"></i>
                            </button>
                            <button
                                class="btn"
                                type="button"
                                (click)="
                                    onSkillUpdate(
                                        +id.value,
                                        title.value,
                                        +value.value
                                    )
                                "
                            >
                                <i class="fa-solid fa-circle-check"></i>
                            </button>
                            <hr />
                        </div>
                    </span>
                </div>
                <div class="col-md">
                    <!-- == SOFT-SKILLS == -->
                    <div class="d-flex flex-column align-items-center">
                        <h1>Soft skills</h1>
                        <div class="separator"></div>
                    </div>
                    <span formArrayName="softSkills">
                        <div
                            class="mb-3"
                            *ngFor="
                                let skill of this.softSkillsForm.controls;
                                let i = index
                            "
                            [formGroupName]="i"
                        >
                            <div class="mb-2 d-flex">
                                <label class="col-form-label me-4" for="id"
                                    >ID</label
                                >
                                <input
                                    class="form-control-plaintext"
                                    readonly
                                    type="text"
                                    id="id"
                                    formControlName="id"
                                    #id
                                />
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="title"
                                    >Title</label
                                >
                                <input
                                    class="form-control"
                                    type="text"
                                    id="title"
                                    formControlName="title"
                                    #title
                                />
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="value"
                                    >Value</label
                                >
                                <input
                                    class="form-control"
                                    type="text"
                                    id="value"
                                    formControlName="value"
                                    #value
                                />
                            </div>

                            <button
                                class="btn red"
                                type="button"
                                (click)="
                                    onSkillDelete(+id.value, soft.checked, i)
                                "
                            >
                                <i class="fa-solid fa-circle-xmark"></i>
                            </button>
                            <button
                                class="btn"
                                type="button"
                                (click)="
                                    onSkillUpdate(
                                        +id.value,
                                        title.value,
                                        +value.value
                                    )
                                "
                            >
                                <i class="fa-solid fa-circle-check"></i>
                            </button>
                            <hr />
                        </div>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="newSkillForm">
                <div [hidden]="!showNewForm">
                    <h3 class="text-center">
                        New <span class="highlight">skill</span> entry
                    </h3>
                    <div class="mb-2">
                        <label class="form-label" for="title">Title: </label>
                        <br />
                        <input
                            class="form-control"
                            type="text"
                            id="title"
                            formControlName="title"
                            #title
                        />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="value">Value: </label>
                        <br />
                        <input
                            class="form-control"
                            type="number"
                            id="value"
                            formControlName="value"
                            #value
                        />
                    </div>
                    <div class="mb-2 form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            id="soft"
                            formControlName="softSkill"
                            #soft
                            [value]="true"
                        />
                        <label class="form-check-label" for="soft"
                            >Soft skill</label
                        >
                        <br />
                        <input
                            class="form-check-input"
                            type="radio"
                            id="hard"
                            formControlName="softSkill"
                            [value]="false"
                        />
                        <label class="form-check-label" for="hard"
                            >Hard skill</label
                        >
                        <!-- <input
                        class="form-check-input"
                        type="checkbox"
                        id="softSkill"
                        formControlName="softSkill"
                        #soft
                    />
                    <label class="form-check-label" for="softSkill"
                        >Soft Skill</label
                    > -->
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button
                        class="btn green mx-auto"
                        type="button"
                        (click)="toggleNewSkillForm()"
                        [hidden]="this.showNewForm"
                    >
                        <i class="fa-solid fa-circle-plus fa-xl"></i>
                    </button>
                    <button
                        type="button"
                        class="btn red"
                        (click)="toggleNewSkillForm()"
                        [hidden]="!this.showNewForm"
                    >
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                    <button
                        type="button"
                        class="btn"
                        (click)="
                            onSkillSave(title.value, +value.value, soft.checked)
                        "
                        [hidden]="!this.showNewForm"
                    >
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
