<!-- ====== SKILLS ====== -->
<!-- <div class="container-fluid" style="background-color: #f6f6f8;"> -->
    <div class="container-lg mb-4 p-4" style="background-color: #f6f6f8;">
        <!-- == EDIT == -->
        <app-edit-button *ngIf="isLoggedIn()"></app-edit-button>

        <div class="d-flex flex-column align-items-center">
            <h1>My Skills</h1>
            <div class="separator"></div>
        </div>
        <div class="row">
            <div class="col">

                <app-progress-bar
                    *ngFor="let skill of this.hardSkills"
                    [skill]="skill"
                >
                </app-progress-bar>

            </div>
            <div class="col">
                <app-progress-bar
                    *ngFor="let skill of this.softSkills"
                    [skill]="skill"
                >
                </app-progress-bar>

            </div>
        </div>
    </div>
<!-- </div> -->
<!-- ====== END SKILLS ====== -->
