<!-- ====== SKILLS ====== -->
<div class="container-lg mb-4 p-4" style="background-color: #f6f6f8">
    <!-- == EDIT == -->
    <app-edit-button
        *ngIf="isLoggedIn()"
        (click)="toggleEditing()"
    ></app-edit-button>

    <app-skills-content
        [hardSkills]="hardSkills"
        [softSkills]="softSkills"
        [hidden]="editing"
    ></app-skills-content>

    <app-skills-form
        [hardSkills]="hardSkills"
        [softSkills]="softSkills"
        [editing]="editing"
        (stopEditing)="toggleEditing()"
        (deleteEvent)="deleteSkill($event)"
        (updateEvent)="updateSkill($event)"
        (saveEvent)="saveSkill($event)"
        [hidden]="!editing"
    ></app-skills-form>
</div>
<!-- ====== END SKILLS ====== -->
